@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

body{
    background-color: rgb(237, 242, 248);
}

html {
    scroll-behavior: smooth;
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppoins, sans-serif;
}
/* body{
    overflow: hidden;
} */
.container{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    height: 980px;
    margin-top: 3.6%;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 70px;
    z-index: 111;
    line-height: 80px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: #f5f5f5;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.87);
    /* color: rgba(128, 128, 128, 0.87); */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 3%;
}
.logo:hover{
    cursor: pointer;
    background: -webkit-linear-gradient( #02d097, #05839a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* b{
    font-size: 70px;
    color: violet;
} */

.navItems{
    display: flex;
    float: right;
    justify-content: left;  
    align-content: left;
}
.navItems li{
    list-style: none;
    margin-right: 15px;
    text-transform: capitalize;    
}
.navItems li a{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.507);
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* float: left; */
}
.navItems li:hover a{
    color: rgb(28, 133, 110);
    border: 2px black;
    text-decoration: underline ;
    background: -webkit-linear-gradient( #02d097, #05839a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links a{
    font-size: 30px;
    color: darkgrey;
    margin-left: 25px;
}
.links a:hover{
    color: rgb(23, 124, 102);
    /* border: 2px; */
    /* background-color: blueviolet; */
    
}
.wrapper{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before{
    position: absolute;
    content: "";
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, rgb(28, 133, 110), rgb(197, 230, 50) );
    animation: object1 2    s linear infinite;
}

@keyframes object1{
    50%{
        left: - 13%;
        top: 41%;
    }
}

.cols1{
    z-index: 111;
}

.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(28, 133, 110) ;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: rgb(28, 133, 110) ;
    text-transform: capitalize;
}
.container p{
    display: block;
    width: 90%;
    color: #3d535f;
    font-size: 1.2em;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}

.container button{
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: white;
    background-color: #6e57e0;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    height: 58px;
    text-transform: capitalize;
    box-shadow: 0 11px 10px rgb(0,0,0,0.4);
}
button:hover{
    background-color:  rgb(28, 133, 110) ;

}

.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: 0px;
    right: 50px;
    margin-top: 15%;
    transform: rotateY('angle');
    /* animation: animateUser 4s linear infinite; */
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: 70px;
    }
}

.imgbox #splash{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
}


.aboutMe{
    background-color: white;
    margin-left: 5%;
    margin-right: 1%;
    /* border: 3px solid rgba(109, 107, 107, 0.459); */
    /* border: 100px; */
    border-radius: 5px;
    padding-top: 10px;
    margin-top: 50px;
    height: 260px;
    padding-bottom: 50px;
    box-shadow: 0 8px 60px rgb(0,0,0,0.4);
    display: flex;
    width: 1100px;
    
}
.about h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.5em;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    color: #3d535f;
   

}
.aboutMe span{
    margin-top: 10px;
    font-weight: 510;
    color: #6d6a7c;
    letter-spacing: 1px;
    padding-top: 10px;
    
}
.coderImg{
    float: left;
    height: 180px;
    margin-top: 20px;

}


.projects h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 800;
    color: #3d535f;
}

.contact{
    height: 800px;
    width: auto;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    background-color: #fbfbfe;
}

.contact h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 800;
    color: #3d535f;
}

.contact .message{
    height: 630px;
    width: 608px;
    background-color: #edf2f8;
    border-radius: 15px;
    float: right;
    margin-right: 250px;
    margin-top: 70px;
    border: 2px solid #bab4ef;
}
.contact .message h3{
    font-weight: 500;
    font-size: 2em;
    padding-top: 50px;
    padding-left: 10px;
    color: #6d6a7c;
    letter-spacing: 1px;
}

.contact form{

    font-weight: 510;
    color: #6d6a7c;
    letter-spacing: 1px;
}
.contact input{
    height: 45px;
    width: 560px;
    padding-left: 8px;
    margin-left: 18px;
    border-radius: 6px;
    margin-top: 4px;
    border: none;
}
.contact label  {
    padding-left: 8px;
    margin-left: 9px;
    
}
.contact button{
    height: 44px;
    width: 222px;
    font-weight: 510;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 18px;
    border: 2px solid #bab4ef;
    background-color: #edf2f8;
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.aboutContainer{
    display: flex;
}

/* leetcode */

.leetcode{
    width: 600px;
    height: 350px;
    background-color: white;
    margin-top: 50px;
    margin-right: 4%;
    border-radius: 8px;
}

.leetcode h3{
    margin-left: 2%;
    margin-top: 2%;
    font-weight: 520;
    text-transform: capitalize ;
}



/*  */